API_PORT=3000
API_GLOBAL_PREFIX=api

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=store_db

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=600

#Auth configuration
JWT_SECRET=your_access_secret
CSRF_SECRET=your_csrf_secret

# Paypal
PAYPAL_API_URL=
PAYPAL_CLIENT_ID=AcxTkqoeOpX6zgGElTBDDE-jHbgI2lAIq3_7poDW6Ra5BFWSE54NRyMYroLVF2O42fb9fk8Mwlhpk2oU
PAYPAL_SECRET_KEY=EOK8r9FOwU2LAY9u0whBEers2B0Xwv8_EYevQa32fGYmlkQhYGD8uPhGmhOHIizXeUzUTiv7sp4GBp8t
